@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

body {
  display: flex;
  flex-direction: column;
  color: grey;
}

.header,
.footer {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
}

.content {
  margin: auto auto;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: #EEEEEE;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  gap: 16px;
}

li {
  list-style: none;
}


button{
  padding: 8px 16px;
  margin: 0px;
}